<header class="topbar navbar navbar-dark fixed-top px-3 px-md-4">
  <div class="container-fluid p-0 d-flex justify-content-between align-items-center">
    <a class="navbar-brand brand m-0" routerLink="/"><span>Aura</span></a>

    <nav class="menu nav gap-2 flex-wrap">
      <a class="nav-link" routerLink="/publicaciones" routerLinkActive="active">Publicaciones</a>
      <a class="nav-link" routerLink="/log-in" routerLinkActive="active">Login</a>
      <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registro</a>
      <a class="nav-link" routerLink="/mi-perfil" routerLinkActive="active">Mi Perfil</a>
    </nav>
  </div>
</header>
